Execute the following cells only the first time running this notebook:

In [1]:
import os
os.chdir("..")

import pandas as pd
pd.set_option('display.precision', 2)

# Complete example

Load a JSON settings file which contains all the data to properly load a source DataFrame (see [README](../README.md#input-parameters-file-explanation)).

In [2]:
from datetime import datetime
import synthDataGen.controller as controller

# loader = controller.ESIOSLoader("./synthDataGen/settings/inputParams.json")
loader = controller.LocalDFLoader("./synthDataGen/settings/inputParams.json")

df = loader.getDataFromSource(initialYear=2018, initDatetime=datetime(2023, 6, 5, 7, 0), hoursAhead=6, include29February=False)
df

                     2018  2019  2020  2021  2022
dateNoYear
2023-06-05 07:00:00   7.5  20.0   1.3   5.4   1.3
2023-06-05 08:00:00   7.9  17.7   0.7   7.4   0.7
2023-06-05 09:00:00   8.7  21.1   9.8   2.5   4.7
2023-06-05 10:00:00  11.6  21.8   9.8   4.1   3.6
2023-06-05 11:00:00  11.0  22.3  11.6   2.0   8.2
2023-06-05 12:00:00  13.9  17.7  11.6   4.1   7.9
2023-06-05 13:00:00  11.0  19.5  13.3   6.9   4.7

Adjust the source `DataFrame` with the anual adjustments dictionary and resample it to the desired resolution:

In [3]:
from synthDataGen.adjustments import FactorByYear

df = FactorByYear.run(df, adjustmentsDict={2018: 1.2, 2019: 2.3, 2020: 1.45, 2021: 3, 2022: 8})
df

Adjusting years: 2018,2019,2020,2021,2022

                      2018   2019   2020  2021  2022
dateNoYear
2023-06-05 07:00:00   7.59  20.46   1.32  5.56  1.40
2023-06-05 08:00:00   7.99  18.11   0.71  7.62  0.76
2023-06-05 09:00:00   8.80  21.59   9.94  2.58  5.08
2023-06-05 10:00:00  11.74  22.30   9.94  4.22  3.89
2023-06-05 11:00:00  11.13  22.81  11.77  2.06  8.86
2023-06-05 12:00:00  14.07  18.11  11.77  4.22  8.53
2023-06-05 13:00:00  11.13  19.95  13.49  7.11  5.08

In [4]:
from synthDataGen.adjustments import ChangeResolution

df = ChangeResolution.upsample(df, frequency="20T", method="spline", order=3)
df

                      2018   2019   2020  2021  2022
2023-06-05 07:00:00   7.59  20.46   1.32  5.56  1.40
2023-06-05 07:20:00   7.51  19.33   0.14  6.61  1.07
2023-06-05 07:40:00   7.54  19.13   0.57  6.79  1.19
2023-06-05 08:00:00   7.99  18.11   0.71  7.62  0.76
2023-06-05 08:20:00   8.10  19.73   3.89  5.92  2.09
2023-06-05 08:40:00   8.56  20.32   6.04  5.16  2.74
2023-06-05 09:00:00   8.80  21.59   9.94  2.58  5.08
2023-06-05 09:20:00   9.72  21.60   9.52  3.70  4.11
2023-06-05 09:40:00  10.35  22.09  10.56  3.17  4.82
2023-06-05 10:00:00  11.74  22.30   9.94  4.22  3.89
2023-06-05 10:20:00  11.57  22.31  11.54  2.57  6.42
2023-06-05 10:40:00  12.10  22.01  11.64  2.52  7.25
2023-06-05 11:00:00  11.13  22.81  11.77  2.06  8.86
2023-06-05 11:20:00  12.83  20.96  11.53  2.95  8.55
2023-06-05 11:40:00  12.99  20.37  11.50  3.43  8.82
2023-06-05 12:00:00  14.07  18.11  11.77  4.22  8.53
2023-06-05 12:20:00  12.71  19.43  11.90  4.92  8.10
2023-06-05 12:40:00  12.21  19.24  12.53  5.93  6.93
2023-06-05 13:00:00  11.13  19.95  13.49  7.11  5.08

In [5]:
df = ChangeResolution.downsample(df, frequency="22.73T", aggregationFunc="mean")
df

                          2018   2019   2020  2021  2022
2023-06-05 06:49:08.400   7.59  20.46   1.32  5.56  1.40
2023-06-05 07:11:52.200   7.51  19.33   0.14  6.61  1.07
2023-06-05 07:34:36.000   7.54  19.13   0.57  6.79  1.19
2023-06-05 07:57:19.800   8.05  18.92   2.30  6.77  1.42
2023-06-05 08:20:03.600   8.56  20.32   6.04  5.16  2.74
2023-06-05 08:42:47.400   8.80  21.59   9.94  2.58  5.08
2023-06-05 09:05:31.200   9.72  21.60   9.52  3.70  4.11
2023-06-05 09:28:15.000  10.35  22.09  10.56  3.17  4.82
2023-06-05 09:50:58.800  11.74  22.30   9.94  4.22  3.89
2023-06-05 10:13:42.600  11.57  22.31  11.54  2.57  6.42
2023-06-05 10:36:26.400  12.10  22.01  11.64  2.52  7.25
2023-06-05 10:59:10.200  11.98  21.89  11.65  2.51  8.70
2023-06-05 11:21:54.000  12.99  20.37  11.50  3.43  8.82
2023-06-05 11:44:37.800  14.07  18.11  11.77  4.22  8.53
2023-06-05 12:07:21.600  12.71  19.43  11.90  4.92  8.10
2023-06-05 12:30:05.400  12.21  19.24  12.53  5.93  6.93
2023-06-05 12:52:49.200  11.13  19.95  13.49  7.11  5.08

Get new samples from the current `DataFrame`:

In [6]:
from synthDataGen.sampling import Sampling

df = Sampling.getSamples(df, 1000, "truncnorm")
df.head()

,2023-06-05 06:49:08.400,2023-06-05 07:11:52.200,2023-06-05 07:34:36.000,2023-06-05 07:57:19.800,2023-06-05 08:20:03.600,2023-06-05 08:42:47.400,2023-06-05 09:05:31.200,2023-06-05 09:28:15.000,2023-06-05 09:50:58.800,2023-06-05 10:13:42.600,2023-06-05 10:36:26.400,2023-06-05 10:59:10.200,2023-06-05 11:21:54.000,2023-06-05 11:44:37.800,2023-06-05 12:07:21.600,2023-06-05 12:30:05.400,2023-06-05 12:52:49.200
0,12.12,15.53,1.60,7.19,6.84,9.17,0.32,17.99,8.91,8.38,12.68,15.75,11.85,14.01,6.88,6.87,1.85
1,2.22,7.99,9.56,1.74,11.67,4.96,16.28,9.00,8.16,12.37,19.35,11.78,12.22,12.32,16.11,11.50,16.65
2,3.10,7.17,12.88,12.77,19.84,15.69,16.22,2.73,12.23,17.83,6.94,22.62,9.39,9.62,10.70,10.70,6.90
3,5.49,4.39,19.40,0.72,2.34,6.87,17.02,14.59,16.74,5.32,8.90,14.81,10.47,19.78,10.21,7.81,14.10
4,12.64,8.57,4.26,9.40,5.05,2.22,16.11,19.39,16.47,10.80,15.66,10.33,9.22,12.60,6.20,8.73,14.90