Execute the following cells only the first time running this notebook:

In [1]:
import os
os.chdir("..")

import pandas as pd
pd.set_option('display.precision', 2)

# Complete example

Load a JSON settings file which contains all the data to properly load a source DataFrame (see [README](../README.md#input-parameters-file-explanation)).

In [2]:
from datetime import datetime
import synthDataGen.controller as controller

loader = controller.ESIOSLoader("./synthDataGen/settings/inputParams.json")
# loader = controller.LocalDFLoader("./synthDataGen/settings/inputParams.json")

df = loader.getDataFromSource(initialYear=2007, initDatetime=datetime(2023, 1, 1, 0, 0), hoursAhead=24*365)
df

,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
datetime,,,,,,,,,,,,,,,,
2023-01-01 00:00:00,51.19,107.94,57.74,6.96,59.64,55.65,57.36,30.57,64.92,51.03,68.20,19.02,71.78,42.65,53.06,131.90
2023-01-01 01:00:00,36.86,103.37,51.99,7.62,54.11,48.01,45.73,26.30,64.48,45.44,63.60,17.90,71.92,41.89,50.13,130.45
2023-01-01 02:00:00,30.08,93.89,47.73,7.95,50.90,45.11,38.36,26.18,59.32,40.31,59.54,20.88,69.37,38.72,45.39,115.01
2023-01-01 03:00:00,27.07,76.68,43.09,8.11,49.18,39.99,39.32,22.40,56.04,40.50,56.52,18.83,66.36,38.05,42.91,120.85
2023-01-01 04:00:00,25.14,59.84,41.21,6.69,46.98,40.18,37.65,22.65,53.63,40.26,54.65,15.80,63.28,37.23,42.48,115.42
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-12-31 20:00:00,74.50,58.30,21.99,69.53,69.16,61.73,53.65,67.93,72.27,77.32,32.90,74.30,46.23,58.13,186.07,22.13
2023-12-31 21:00:00,61.00,54.65,14.44,58.50,63.91,46.23,50.62,61.65,65.52,74.07,23.85,69.89,43.97,56.07,154.38,26.94
2023-12-31 22:00:00,79.40,56.07,17.55,56.66,64.95,36.06,48.88,61.23,59.53,70.60,23.95,69.88,42.44,56.18,146.62,28.46
2023-12-31 23:00:00,107.86,56.97,18.78,60.70,54.41,59.43,37.21,65.41,57.85,67.85,20.76,71.62,45.43,54.91,158.86,26.40
2024-01-01 00:00:00,107.94,57.74,6.96,59.64,55.65,57.36,30.57,64.92,51.03,68.20,19.02,71.78,42.65,53.06,131.90,27.17

In [6]:
df.drop(df.index[len(df)-1])

,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
datetime,,,,,,,,,,,,,,,,
2023-01-01 00:00:00,51.19,107.94,57.74,6.96,59.64,55.65,57.36,30.57,64.92,51.03,68.20,19.25,73.43,43.27,54.65,142.45
2023-01-01 01:00:00,36.86,103.37,51.99,7.62,54.11,48.01,45.73,26.30,64.48,45.44,63.60,18.11,73.57,42.50,51.63,140.89
2023-01-01 02:00:00,30.08,93.89,47.73,7.95,50.90,45.11,38.36,26.18,59.32,40.31,59.54,21.13,70.97,39.28,46.75,124.21
2023-01-01 03:00:00,27.07,76.68,43.09,8.11,49.18,39.99,39.32,22.40,56.04,40.50,56.52,19.06,67.89,38.60,44.20,130.52
2023-01-01 04:00:00,25.14,59.84,41.21,6.69,46.98,40.18,37.65,22.65,53.63,40.26,54.65,15.99,64.74,37.77,43.75,124.65
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-12-31 19:00:00,81.75,72.30,26.22,76.03,75.85,64.69,62.95,73.07,75.53,77.64,39.54,77.07,50.81,65.98,194.57,25.11
2023-12-31 20:00:00,74.50,58.30,21.99,69.53,69.16,61.73,53.65,67.93,72.27,77.32,32.90,75.19,47.29,58.97,191.65,23.90
2023-12-31 21:00:00,61.00,54.65,14.44,58.50,63.91,46.23,50.62,61.65,65.52,74.07,23.85,70.73,44.98,56.88,159.01,29.10
2023-12-31 22:00:00,79.40,56.07,17.55,56.66,64.95,36.06,48.88,61.23,59.53,70.60,23.95,70.72,43.42,56.99,151.02,30.74
2023-12-31 23:00:00,107.86,56.97,18.78,60.70,54.41,59.43,37.21,65.41,57.85,67.85,20.76,72.48,46.47,55.71,163.63,28.51

Adjust the source `DataFrame` with the anual adjustments dictionary and resample it to the desired resolution:

In [7]:
from synthDataGen.adjustments import FactorByYear

df = FactorByYear.run(df, adjustmentsDict={2018: 1.2, 2019: 2.3, 2020: 1.45, 2021: 3, 2022: 8})
df

Adjusting years: 2018,2019,2020,2021,2022

,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
datetime,,,,,,,,,,,,,,,,
2023-01-01 00:00:00,51.19,107.94,57.74,6.96,59.64,55.65,57.36,30.57,64.92,51.03,68.20,19.48,75.12,43.90,56.29,153.85
2023-01-01 01:00:00,36.86,103.37,51.99,7.62,54.11,48.01,45.73,26.30,64.48,45.44,63.60,18.33,75.27,43.11,53.18,152.16
2023-01-01 02:00:00,30.08,93.89,47.73,7.95,50.90,45.11,38.36,26.18,59.32,40.31,59.54,21.38,72.60,39.85,48.15,134.15
2023-01-01 03:00:00,27.07,76.68,43.09,8.11,49.18,39.99,39.32,22.40,56.04,40.50,56.52,19.28,69.45,39.16,45.52,140.96
2023-01-01 04:00:00,25.14,59.84,41.21,6.69,46.98,40.18,37.65,22.65,53.63,40.26,54.65,16.18,66.22,38.32,45.07,134.63
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-12-31 20:00:00,74.50,58.30,21.99,69.53,69.16,61.73,53.65,67.93,72.27,77.32,32.90,76.09,48.38,59.83,197.40,25.81
2023-12-31 21:00:00,61.00,54.65,14.44,58.50,63.91,46.23,50.62,61.65,65.52,74.07,23.85,71.58,46.02,57.71,163.78,31.42
2023-12-31 22:00:00,79.40,56.07,17.55,56.66,64.95,36.06,48.88,61.23,59.53,70.60,23.95,71.57,44.41,57.82,155.55,33.20
2023-12-31 23:00:00,107.86,56.97,18.78,60.70,54.41,59.43,37.21,65.41,57.85,67.85,20.76,73.35,47.54,56.51,168.53,30.79
2024-01-01 00:00:00,107.94,57.74,6.96,59.64,55.65,57.36,30.57,64.92,51.03,68.20,19.02,73.51,44.63,54.61,139.93,31.69

In [8]:
from synthDataGen.adjustments import ChangeResolution

df = ChangeResolution.upsample(df, frequency="20T", method="spline", order=3)
df

ValueError: cannot reindex on an axis with duplicate labels

In [9]:
df = ChangeResolution.downsample(df, frequency="22.73T", aggregationFunc="mean")
df

ValueError: The provided frequency '22.73T' is of a finer resolution than the one of the DataFrame ('2H'). Please, choose a coarser one for the data to be aggregated into.

Get new samples from the current `DataFrame`:

In [10]:
from synthDataGen.utils import Sampling

df = Sampling.getSamples(df, 1000, "truncnorm")
df.head()

c:\Users\German\Documents\Work\Repsol\synthDataGen\synthDataGen\utils.py:32: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  resultingDataFrame[index] = samples

,2023-01-01 00:00:00,2023-01-01 01:00:00,2023-01-01 02:00:00,2023-01-01 03:00:00,2023-01-01 04:00:00,2023-01-01 05:00:00,2023-01-01 06:00:00,2023-01-01 07:00:00,2023-01-01 08:00:00,2023-01-01 09:00:00,...,2023-12-31 15:00:00,2023-12-31 16:00:00,2023-12-31 17:00:00,2023-12-31 18:00:00,2023-12-31 19:00:00,2023-12-31 20:00:00,2023-12-31 21:00:00,2023-12-31 22:00:00,2023-12-31 23:00:00,2024-01-01 00:00:00
0,54.05,34.52,51.83,42.20,95.10,68.86,43.53,61.77,36.76,34.03,...,109.74,15.58,9.27,102.71,94.12,116.28,58.00,81.22,52.11,88.29
1,26.07,17.39,29.50,93.47,78.86,28.17,44.35,26.43,52.96,83.04,...,22.40,15.98,45.84,56.58,31.27,100.19,47.56,39.29,108.79,47.45
2,93.69,23.03,38.20,35.33,55.39,19.12,45.46,54.32,67.02,21.22,...,38.48,35.61,68.26,38.71,89.92,52.03,97.90,5.84,63.22,81.69
3,27.52,22.80,59.29,35.87,20.17,38.17,69.41,45.79,68.16,80.39,...,19.90,54.62,105.34,64.91,53.15,37.93,62.31,71.83,82.25,39.28
4,38.52,40.90,17.37,35.03,62.85,37.61,55.70,15.62,79.45,54.61,...,69.78,83.14,115.59,102.86,83.06,12.71,43.25,91.77,14.58,108.42