## Use case #1: using file inputParams.json (recommended use)

Execute the following cells only the first time running this notebook:

In [1]:
import os
os.chdir("..")

Loading the input parameters file in a new instance of the `controller`:

In [2]:
from synthDataGen.controller import DataControllerESIOS

controller = DataControllerESIOS("inputParams.json", "./synthDataGen/settings/")

Getting the first DataFrame. Then adjust it with the anual adjustments dictionary and resample it to the desired resolution:

In [3]:
df = controller.getDataFromSource()
df

,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
datetime_utc,,,,,,,,,,,,,,,,
2023-07-13 14:00:00,47.13,70.76,49.02,57.83,66.57,59.35,68.88,48.03,84.82,51.22,61.17,72.52,52.18,41.18,96.65,250.76
2023-07-13 15:00:00,46.69,69.39,49.22,57.82,67.03,59.94,67.73,46.13,84.61,51.62,60.91,72.56,50.76,44.16,101.95,248.97
2023-07-13 16:00:00,49.40,69.75,48.26,57.39,68.28,60.36,62.17,46.70,84.19,49.88,60.14,71.52,50.97,42.72,105.06,234.28
2023-07-13 17:00:00,48.49,72.14,46.20,54.63,64.98,59.13,64.60,49.28,78.77,48.76,58.40,70.10,52.16,41.41,106.94,258.69
2023-07-13 18:00:00,42.68,71.08,46.29,53.00,67.07,62.54,67.36,52.36,76.95,49.34,59.20,70.86,55.22,43.77,110.11,291.11
2023-07-13 19:00:00,40.51,77.65,40.48,51.58,66.37,63.63,69.52,61.95,78.64,48.54,61.25,71.52,57.20,43.93,109.12,300.53
2023-07-13 20:00:00,41.26,88.11,41.22,50.92,67.05,68.90,71.20,68.65,79.16,47.43,60.46,71.28,56.57,44.04,103.50,298.49
2023-07-13 21:00:00,36.94,81.67,39.70,46.56,63.89,61.27,72.42,62.87,73.22,43.93,58.45,70.12,53.81,39.30,98.42,278.39
2023-07-13 22:00:00,40.34,74.55,36.91,45.67,59.02,66.38,68.68,63.23,68.01,38.49,57.78,67.60,56.50,36.34,104.12,290.36
2023-07-13 23:00:00,40.60,64.11,34.06,41.36,54.17,63.07,71.67,51.44,60.45,37.91,52.90,66.75,52.24,31.79,101.73,278.53

In [4]:
df = controller.performAnualAdjustments(df)
df

[2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022]

,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
datetime_utc,,,,,,,,,,,,,,,,
2023-07-13 14:00:00,471.3,707.6,490.2,578.3,665.7,593.5,688.8,480.3,848.2,512.2,611.7,725.2,521.8,411.8,966.5,2507.6
2023-07-13 15:00:00,466.9,693.9,492.2,578.2,670.3,599.4,677.3,461.3,846.1,516.2,609.1,725.6,507.6,441.6,1019.5,2489.7
2023-07-13 16:00:00,494.0,697.5,482.6,573.9,682.8,603.6,621.7,467.0,841.9,498.8,601.4,715.2,509.7,427.2,1050.6,2342.8
2023-07-13 17:00:00,484.9,721.4,462.0,546.3,649.8,591.3,646.0,492.8,787.7,487.6,584.0,701.0,521.6,414.1,1069.4,2586.9
2023-07-13 18:00:00,426.8,710.8,462.9,530.0,670.7,625.4,673.6,523.6,769.5,493.4,592.0,708.6,552.2,437.7,1101.1,2911.1
2023-07-13 19:00:00,405.1,776.5,404.8,515.8,663.7,636.3,695.2,619.5,786.4,485.4,612.5,715.2,572.0,439.3,1091.2,3005.3
2023-07-13 20:00:00,412.6,881.1,412.2,509.2,670.5,689.0,712.0,686.5,791.6,474.3,604.6,712.8,565.7,440.4,1035.0,2984.9
2023-07-13 21:00:00,369.4,816.7,397.0,465.6,638.9,612.7,724.2,628.7,732.2,439.3,584.5,701.2,538.1,393.0,984.2,2783.9
2023-07-13 22:00:00,403.4,745.5,369.1,456.7,590.2,663.8,686.8,632.3,680.1,384.9,577.8,676.0,565.0,363.4,1041.2,2903.6
2023-07-13 23:00:00,406.0,641.1,340.6,413.6,541.7,630.7,716.7,514.4,604.5,379.1,529.0,667.5,522.4,317.9,1017.3,2785.3

In [5]:
df = controller.resampleOnAxis0(df)

import pandas as pd
pd.set_option('display.precision', 2)

df

,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
2023-07-13 14:00:00,471.30,707.60,490.20,578.30,665.70,593.50,688.80,480.30,848.20,512.20,611.70,725.20,521.80,411.80,966.50,2507.60
2023-07-13 14:15:00,466.23,702.80,491.66,578.26,664.93,594.68,692.26,473.24,846.87,515.60,611.35,726.34,516.58,424.00,981.86,2524.28
2023-07-13 14:30:00,463.81,698.92,492.48,578.23,665.44,596.06,691.50,467.72,846.07,517.41,610.81,726.79,512.47,433.03,995.82,2526.86
2023-07-13 14:45:00,464.03,695.95,492.66,578.21,667.23,597.63,686.51,463.74,845.82,517.60,610.05,726.54,509.48,438.90,1008.36,2515.33
2023-07-13 15:00:00,466.90,693.90,492.20,578.20,670.30,599.40,677.30,461.30,846.10,516.20,609.10,725.60,507.60,441.60,1019.50,2489.70
2023-07-13 15:15:00,472.41,692.76,491.10,578.20,674.64,601.36,663.87,460.41,846.92,513.19,607.94,723.96,506.83,441.14,1029.23,2449.96
2023-07-13 15:30:00,480.57,692.53,489.37,578.21,680.27,603.52,646.21,461.05,848.28,508.58,606.58,721.62,507.18,437.51,1037.55,2396.12
2023-07-13 15:45:00,488.67,693.89,486.65,577.14,684.03,604.67,630.19,463.25,847.50,503.43,604.55,718.67,508.26,432.33,1044.62,2352.34
2023-07-13 16:00:00,494.00,697.50,482.60,573.90,682.80,603.60,621.70,467.00,841.90,498.80,601.40,715.20,509.70,427.20,1050.60,2342.80
2023-07-13 16:15:00,496.57,703.37,477.22,568.49,676.57,600.31,620.72,472.30,831.47,494.69,597.12,711.20,511.49,422.13,1055.49,2367.49
2023-07-13 16:30:00,496.38,711.49,470.51,560.92,665.35,594.80,627.27,479.16,816.22,491.11,591.70,706.67,513.64,417.11,1059.29,2426.42
2023-07-13 16:45:00,492.72,718.60,464.70,552.94,654.61,590.61,637.10,486.38,800.26,488.57,586.79,702.86,516.80,413.86,1063.45,2504.56
2023-07-13 17:00:00,484.90,721.40,462.00,546.30,649.80,591.30,646.00,492.80,787.70,487.60,584.00,701.00,521.60,414.10,1069.40,2586.90
2023-07-13 17:15:00,472.92,719.91,462.42,541.01,650.94,596.86,653.97,498.41,778.54,488.21,583.33,701.10,528.05,417.82,1077.15,2673.44
2023-07-13 17:30:00,456.77,714.11,465.95,537.07,658.01,607.30,661.00,503.21,772.77,490.38,584.79,703.15,536.16,425.02,1086.69,2764.18
2023-07-13 17:45:00,440.16,709.31,467.73,533.67,666.21,618.27,667.44,510.50,769.92,492.62,587.85,706.03,544.63,432.67,1095.51,2847.32
2023-07-13 18:00:00,426.80,710.80,462.90,530.00,670.70,625.40,673.60,523.60,769.50,493.40,592.00,708.60,552.20,437.70,1101.10,2911.10
2023-07-13 18:15:00,416.68,718.57,451.46,526.05,671.48,628.71,679.49,542.50,771.51,492.72,597.24,710.87,558.86,440.12,1103.46,2955.50
2023-07-13 18:30:00,409.81,732.62,433.41,521.83,668.56,628.19,685.12,567.19,775.96,490.59,603.56,712.83,564.62,439.94,1102.58,2980.53
2023-07-13 18:45:00,406.00,752.19,415.58,518.14,664.96,629.00,690.38,594.06,781.40,487.86,609.23,714.33,569.11,439.04,1098.49,2994.39
2023-07-13 19:00:00,405.10,776.50,404.80,515.80,663.70,636.30,695.20,619.50,786.40,485.40,612.50,715.20,572.00,439.30,1091.20,3005.30
2023-07-13 19:15:00,407.10,805.55,401.08,514.80,664.78,650.09,699.57,643.50,790.95,483.21,613.38,715.45,573.28,440.73,1080.71,3013.25
2023-07-13 19:30:00,411.99,839.34,404.41,515.14,668.20,670.38,703.50,666.05,795.06,481.29,611.86,715.07,572.95,443.34,1067.03,3018.24
2023-07-13 19:45:00,415.32,867.86,409.79,514.16,671.07,686.80,707.47,682.08,796.14,478.65,608.69,714.16,570.57,444.20,1051.38,3011.66
2023-07-13 20:00:00,412.60,881.10,412.20,509.20,670.50,689.00,712.00,686.50,791.60,474.30,604.60,712.80,565.70,440.40,1035.00,2984.90
2023-07-13 20:15:00,403.84,879.06,411.65,500.25,666.48,676.98,717.08,679.31,781.44,468.24,599.59,710.99,558.33,431.95,1017.88,2937.97
2023-07-13 20:30:00,389.04,861.75,408.13,487.32,659.02,650.74,722.70,660.51,765.65,460.47,593.66,708.74,548.47,418.85,1000.02,2870.85
2023-07-13 20:45:00,375.22,838.01,402.85,474.43,649.40,624.55,726.02,640.25,747.99,450.86,588.17,705.61,540.32,404.67,986.95,2810.51
2023-07-13 21:00:00,369.40,816.70,397.00,465.60,638.90,612.70,724.20,628.70,732.20,439.30,584.50,701.20,538.10,393.00,984.20,2783.90
2023-07-13 21:15:00,371.59,797.83,390.58,460.83,627.53,615.18,717.23,625.86,718.28,425.78,582.64,695.50,541.80,383.84,991.76,2791.01
2023-07-13 21:30:00,381.78,781.39,383.58,460.11,615.28,631.98,705.11,631.72,706.23,410.31,582.60,688.51,551.43,377.19,1009.64,2831.84
2023-07-13 21:45:00,394.28,764.80,376.32,459.92,602.67,651.92,693.18,636.97,694.14,395.73,581.83,681.57,561.12,371.04,1029.04,2878.63
2023-07-13 22:00:00,403.40,745.50,369.10,456.70,590.20,663.80,686.80,632.30,680.10,384.90,577.80,676.00,565.00,363.40,1041.20,2903.60
2023-07-13 22:15:00,409.13,723.48,361.92,450.46,577.87,667.62,685.96,617.71,664.12,377.82,570.50,671.81,563.07,354.27,1046.10,2906.75
2023-07-13 22:30:00,411.47,698.74,354.77,441.20,565.67,663.37,690.66,593.19,646.19,374.50,559.93,669.00,555.32,343.64,1043.75,2888.09
2023-07-13 22:45:00,410.43,671.28,347.67,428.91,553.62,651.07,700.91,558.76,626.32,374.92,546.10,667.56,541.77,331.52,1034.15,2847.60
2023-07-13 23:00:00,406.00,641.10,340.60,413.60,541.70,630.70,716.70,514.40,604.50,379.10,529.00,667.50,522.40,317.90,1017.30,2785.30

# Use case #2: passing parameters

In [8]:
from datetime import datetime

d = datetime(2023, 6, 5, 7, 0)

df = controller.getDataFromSource(initialYear=2018, initDatetime=d, hoursAhead=6)
df

                      2018   2019   2020   2021    2022
datetime_utc
2023-06-05 06:00:00  67.83  53.13  37.07  81.00  193.53
2023-06-05 07:00:00  69.11  50.74  37.06  81.43  177.57
2023-06-05 08:00:00  69.87  50.44  35.33  85.35  174.79
2023-06-05 09:00:00  69.09  50.50  34.96  85.31  177.76
2023-06-05 10:00:00  68.72  51.26  35.24  85.29  177.64
2023-06-05 11:00:00  69.03  49.11  35.13  85.36  176.71
2023-06-05 12:00:00  69.02  47.22  32.09  83.26  173.96

In [9]:
df = controller.performAnualAdjustments(df, adjustmentsDict={2018: 1.012, 2019: 1.023, 2020: 1.0145, 2021: 1.03, 2022: 1.08})
df

[2018, 2019, 2020, 2021, 2022]

                      2018   2019   2020   2021    2022
datetime_utc
2023-06-05 06:00:00  68.64  54.35  37.61  83.43  209.01
2023-06-05 07:00:00  69.94  51.91  37.60  83.87  191.78
2023-06-05 08:00:00  70.71  51.60  35.84  87.91  188.77
2023-06-05 09:00:00  69.92  51.66  35.47  87.87  191.98
2023-06-05 10:00:00  69.54  52.44  35.75  87.85  191.85
2023-06-05 11:00:00  69.86  50.24  35.64  87.92  190.85
2023-06-05 12:00:00  69.85  48.31  32.56  85.76  187.88

In [10]:
df = controller.resampleOnAxis0(df, sampleFreqInMins=20, method="spline", order=3)

import pandas as pd
pd.set_option('display.precision', 2)

df

                      2018   2019   2020   2021    2022
2023-06-05 06:00:00  68.64  54.35  37.61  83.43  209.01
2023-06-05 06:20:00  69.25  53.31  37.41  83.74  201.75
2023-06-05 06:40:00  69.70  52.60  36.97  84.39  196.71
2023-06-05 07:00:00  69.94  51.91  37.60  83.87  191.78
2023-06-05 07:20:00  70.24  51.79  36.42  85.63  190.74
2023-06-05 07:40:00  70.36  51.62  36.27  86.21  189.39
2023-06-05 08:00:00  70.71  51.60  35.84  87.91  188.77
2023-06-05 08:20:00  70.36  51.59  36.12  87.20  188.97
2023-06-05 08:40:00  70.28  51.67  36.09  87.61  189.48
2023-06-05 09:00:00  69.92  51.66  35.47  87.87  191.98
2023-06-05 09:20:00  70.02  51.84  36.01  88.18  190.97
2023-06-05 09:40:00  69.87  51.87  35.94  88.32  191.66
2023-06-05 10:00:00  69.54  52.44  35.75  87.85  191.85
2023-06-05 10:20:00  69.63  51.67  35.60  88.28  192.48
2023-06-05 10:40:00  69.55  51.37  35.31  88.07  192.44
2023-06-05 11:00:00  69.86  50.24  35.64  87.92  190.85
2023-06-05 11:20:00  69.59  50.21  34.39  87.23  191.04
2023-06-05 11:40:00  69.72  49.29  33.71  86.57  189.52
2023-06-05 12:00:00  69.85  48.31  32.56  85.76  187.88