## Use case #1: using file inputParams.json (recommended use)

Execute the following cells only the first time running this notebook:

In [1]:
import os
os.chdir("..")

import pandas as pd
pd.set_option('display.precision', 2)

Loading the input parameters file in a new instance of the `controller`:

In [2]:
from synthDataGen.controller import Controller

controller = Controller()
controller.loadMainParams("inputParams.json", "./synthDataGen/settings/")
df = controller.getDataFromSource()
df

,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
datetime_utc,,,,,,,,,,,,,,,,
2023-07-19 14:00:00,55.76,73.62,36.00,62.36,65.70,68.38,72.93,47.39,60.38,50.78,58.39,72.32,58.88,29.71,99.78,168.00
2023-07-19 15:00:00,54.37,73.31,35.39,62.10,65.56,68.52,72.65,46.58,60.61,50.42,58.37,71.82,58.24,30.47,98.79,168.86
2023-07-19 16:00:00,52.98,72.15,37.27,60.51,65.51,65.80,70.54,47.12,62.89,50.81,57.64,71.56,57.52,34.22,102.65,180.68
2023-07-19 17:00:00,48.58,71.24,38.13,57.45,62.96,62.03,67.54,48.62,64.86,51.36,56.24,70.09,57.04,40.30,111.45,203.37
2023-07-19 18:00:00,40.13,70.30,38.12,55.34,64.25,61.94,68.71,52.91,75.09,50.93,57.33,70.01,57.33,41.21,114.67,237.10
2023-07-19 19:00:00,38.06,71.61,41.90,53.95,64.33,60.91,70.25,52.99,81.32,51.30,59.27,70.09,57.17,41.66,115.26,250.53
2023-07-19 20:00:00,38.50,77.87,48.90,52.42,65.30,61.11,71.45,60.69,82.00,51.74,58.90,70.32,56.34,44.04,106.50,253.31
2023-07-19 21:00:00,33.90,66.94,40.08,47.83,62.10,54.24,64.77,52.30,79.69,49.17,57.69,69.20,54.59,40.04,99.54,240.54
2023-07-19 22:00:00,35.70,68.19,41.02,45.76,57.62,53.48,64.12,48.57,72.66,47.10,54.47,65.43,55.06,34.16,102.62,215.48
2023-07-19 23:00:00,30.08,65.83,34.98,42.93,54.36,48.99,59.04,47.44,62.49,42.55,50.19,61.53,54.07,30.11,101.05,213.46

Getting the first DataFrame. Then adjust it with the anual adjustments dictionary and resample it to the desired resolution:

In [3]:
from synthDataGen.controller import Adjustments

adjustments = Adjustments(controller.inputJSON)
df = adjustments.performAnualAdjustments(df)
df

,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
datetime_utc,,,,,,,,,,,,,,,,
2023-07-19 14:00:00,61.34,80.98,39.60,68.60,72.27,75.22,80.22,52.13,66.42,55.86,64.23,79.55,64.77,32.68,109.76,184.80
2023-07-19 15:00:00,59.81,80.64,38.93,68.31,72.12,75.37,79.92,51.24,66.67,55.46,64.21,79.00,64.06,33.52,108.67,185.75
2023-07-19 16:00:00,58.28,79.37,41.00,66.56,72.06,72.38,77.59,51.83,69.18,55.89,63.40,78.72,63.27,37.64,112.92,198.75
2023-07-19 17:00:00,53.44,78.36,41.94,63.20,69.26,68.23,74.29,53.48,71.35,56.50,61.86,77.10,62.74,44.33,122.60,223.71
2023-07-19 18:00:00,44.14,77.33,41.93,60.87,70.68,68.13,75.58,58.20,82.60,56.02,63.06,77.01,63.06,45.33,126.14,260.81
2023-07-19 19:00:00,41.87,78.77,46.09,59.35,70.76,67.00,77.28,58.29,89.45,56.43,65.20,77.10,62.89,45.83,126.79,275.58
2023-07-19 20:00:00,42.35,85.66,53.79,57.66,71.83,67.22,78.60,66.76,90.20,56.91,64.79,77.35,61.97,48.44,117.15,278.64
2023-07-19 21:00:00,37.29,73.63,44.09,52.61,68.31,59.66,71.25,57.53,87.66,54.09,63.46,76.12,60.05,44.04,109.49,264.59
2023-07-19 22:00:00,39.27,75.01,45.12,50.34,63.38,58.83,70.53,53.43,79.93,51.81,59.92,71.97,60.57,37.58,112.88,237.03
2023-07-19 23:00:00,33.09,72.41,38.48,47.22,59.80,53.89,64.94,52.18,68.74,46.80,55.21,67.68,59.48,33.12,111.16,234.81

In [4]:
df = adjustments.downsample(df)
df

,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
datetime_utc,,,,,,,,,,,,,,,,
2023-07-19 14:00:00,60.57,80.81,39.26,68.45,72.19,75.30,80.07,51.68,66.54,55.66,64.22,79.28,64.42,33.10,109.21,185.27
2023-07-19 16:00:00,55.86,78.86,41.47,64.88,70.66,70.31,75.94,52.66,70.26,56.19,62.63,77.91,63.01,40.99,117.76,211.23
2023-07-19 18:00:00,43.00,78.05,44.01,60.11,70.72,67.57,76.43,58.25,86.03,56.23,64.13,77.06,62.98,45.58,126.46,268.20
2023-07-19 20:00:00,39.82,79.65,48.94,55.14,70.07,63.44,74.92,62.14,88.93,55.50,64.12,76.74,61.01,46.24,113.32,271.62
2023-07-19 22:00:00,36.18,73.71,41.80,48.78,61.59,56.36,67.74,52.81,74.33,49.31,57.56,69.83,60.02,35.35,112.02,235.92

In [5]:
df = adjustments.upsample(df)
df

,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
2023-07-19 14:00:00,60.57,80.81,39.26,68.45,72.19,75.30,80.07,51.68,66.54,55.66,64.22,79.28,64.42,33.10,109.21,185.27
2023-07-19 14:15:00,60.61,80.53,39.56,68.08,71.90,74.52,79.25,51.51,66.12,55.76,63.82,79.09,64.13,34.27,110.01,186.01
2023-07-19 14:30:00,60.47,80.27,39.86,67.69,71.64,73.78,78.51,51.42,65.96,55.85,63.47,78.91,63.87,35.39,110.89,187.46
2023-07-19 14:45:00,60.15,80.01,40.14,67.28,71.41,73.09,77.86,51.42,66.04,55.93,63.19,78.73,63.65,36.46,111.84,189.62
2023-07-19 15:00:00,59.65,79.76,40.42,66.84,71.20,72.45,77.30,51.50,66.38,56.00,62.96,78.55,63.46,37.47,112.87,192.51
2023-07-19 15:15:00,58.97,79.52,40.69,66.38,71.02,71.85,76.83,51.66,66.97,56.06,62.79,78.38,63.30,38.43,113.98,196.11
2023-07-19 15:30:00,58.11,79.29,40.96,65.90,70.87,71.29,76.45,51.91,67.82,56.12,62.68,78.22,63.17,39.33,115.16,200.43
2023-07-19 15:45:00,57.08,79.07,41.22,65.40,70.75,70.78,76.15,52.24,68.91,56.16,62.63,78.06,63.07,40.19,116.42,205.47
2023-07-19 16:00:00,55.86,78.86,41.47,64.88,70.66,70.31,75.94,52.66,70.26,56.19,62.63,77.91,63.01,40.99,117.76,211.23
2023-07-19 16:15:00,54.46,78.67,41.72,64.33,70.59,69.88,75.82,53.16,71.87,56.22,62.70,77.76,62.97,41.73,119.17,217.70
2023-07-19 16:30:00,52.89,78.48,41.95,63.77,70.55,69.50,75.79,53.74,73.72,56.23,62.82,77.61,62.97,42.43,120.66,224.89
2023-07-19 16:45:00,51.13,78.30,42.19,63.18,70.54,69.16,75.85,54.41,75.83,56.24,63.00,77.47,63.00,43.07,122.22,232.80
2023-07-19 17:00:00,49.20,78.13,42.41,62.57,70.56,68.87,75.99,55.16,78.19,56.24,63.24,77.34,63.06,43.65,123.86,241.43
2023-07-19 17:15:00,47.29,78.00,42.68,61.95,70.59,68.59,76.16,55.94,80.54,56.23,63.49,77.22,63.12,44.19,125.29,249.84
2023-07-19 17:30:00,45.62,77.94,43.03,61.33,70.63,68.28,76.29,56.72,82.64,56.23,63.73,77.14,63.12,44.69,126.19,257.10
2023-07-19 17:45:00,44.19,77.96,43.48,60.72,70.67,67.94,76.38,57.49,84.46,56.23,63.94,77.08,63.07,45.16,126.59,263.22
2023-07-19 18:00:00,43.00,78.05,44.01,60.11,70.72,67.57,76.43,58.25,86.03,56.23,64.13,77.06,62.98,45.58,126.46,268.20
2023-07-19 18:15:00,42.05,78.21,44.63,59.50,70.77,67.17,76.44,58.99,87.32,56.23,64.30,77.06,62.83,45.96,125.82,272.02
2023-07-19 18:30:00,41.34,78.45,45.34,58.90,70.82,66.75,76.40,59.73,88.36,56.23,64.44,77.10,62.63,46.30,124.67,274.71
2023-07-19 18:45:00,40.86,78.76,46.14,58.30,70.88,66.29,76.33,60.46,89.13,56.24,64.57,77.16,62.39,46.61,123.00,276.24
2023-07-19 19:00:00,40.63,79.14,47.03,57.71,70.94,65.81,76.22,61.17,89.63,56.25,64.67,77.26,62.09,46.87,120.81,276.63
2023-07-19 19:15:00,40.49,79.48,47.85,57.10,70.93,65.29,76.04,61.77,89.87,56.21,64.71,77.31,61.79,47.02,118.51,276.18
2023-07-19 19:30:00,40.31,79.68,48.44,56.47,70.79,64.73,75.76,62.13,89.83,56.07,64.63,77.24,61.50,46.96,116.50,275.19
2023-07-19 19:45:00,40.09,79.74,48.80,55.82,70.50,64.11,75.39,62.25,89.52,55.83,64.43,77.05,61.25,46.70,114.77,273.67
2023-07-19 20:00:00,39.82,79.65,48.94,55.14,70.07,63.44,74.92,62.14,88.93,55.50,64.12,76.74,61.01,46.24,113.32,271.62
2023-07-19 20:15:00,39.51,79.41,48.85,54.43,69.50,62.73,74.36,61.80,88.07,55.07,63.70,76.30,60.80,45.58,112.16,269.03
2023-07-19 20:30:00,39.16,79.03,48.52,53.70,68.79,61.96,73.70,61.22,86.93,54.54,63.17,75.74,60.62,44.72,111.29,265.90
2023-07-19 20:45:00,38.77,78.51,47.97,52.94,67.94,61.15,72.94,60.40,85.52,53.91,62.52,75.06,60.46,43.66,110.70,262.24
2023-07-19 21:00:00,38.34,77.84,47.19,52.16,66.95,60.29,72.09,59.35,83.83,53.19,61.76,74.26,60.32,42.40,110.39,258.05
2023-07-19 21:15:00,37.86,77.02,46.19,51.35,65.82,59.38,71.15,58.07,81.87,52.36,60.88,73.33,60.21,40.94,110.37,253.32
2023-07-19 21:30:00,37.34,76.06,44.95,50.52,64.55,58.42,70.11,56.55,79.63,51.44,59.89,72.29,60.12,39.28,110.63,248.05
2023-07-19 21:45:00,36.78,74.96,43.49,49.66,63.14,57.41,68.97,54.80,77.12,50.42,58.78,71.12,60.06,37.41,111.18,242.25
2023-07-19 22:00:00,36.18,73.71,41.80,48.78,61.59,56.36,67.74,52.81,74.33,49.31,57.56,69.83,60.02,35.35,112.02,235.92

# Use case #2: passing parameters

In [6]:
from datetime import datetime

d = datetime(2023, 6, 5, 7, 0)

controller = Controller()
controller.loadMainParams("inputParams.json", "./synthDataGen/settings/")
df = controller.getDataFromSource(initialYear=2018, initDatetime=d, hoursAhead=6)
df

                      2018   2019   2020   2021    2022
datetime_utc
2023-06-05 06:00:00  67.83  53.13  37.07  81.00  193.53
2023-06-05 07:00:00  69.11  50.74  37.06  81.43  177.57
2023-06-05 08:00:00  69.87  50.44  35.33  85.35  174.79
2023-06-05 09:00:00  69.09  50.50  34.96  85.31  177.76
2023-06-05 10:00:00  68.72  51.26  35.24  85.29  177.64
2023-06-05 11:00:00  69.03  49.11  35.13  85.36  176.71
2023-06-05 12:00:00  69.02  47.22  32.09  83.26  173.96

In [7]:
df = adjustments.performAnualAdjustments(df, adjustmentsDict={2018: 1.2, 2019: 2.3, 2020: 1.45, 2021: 3, 2022: 8})
df

                      2018   2019   2020   2021    2022
datetime_utc
2023-06-05 06:00:00  68.64  54.35  37.61  83.43  209.01
2023-06-05 07:00:00  69.94  51.91  37.60  83.87  191.78
2023-06-05 08:00:00  70.71  51.60  35.84  87.91  188.77
2023-06-05 09:00:00  69.92  51.66  35.47  87.87  191.98
2023-06-05 10:00:00  69.54  52.44  35.75  87.85  191.85
2023-06-05 11:00:00  69.86  50.24  35.64  87.92  190.85
2023-06-05 12:00:00  69.85  48.31  32.56  85.76  187.88

In [8]:
df = adjustments.upsample(df, frequency="20T", method="spline", order=3)

df

                      2018   2019   2020   2021    2022
2023-06-05 06:00:00  68.64  54.35  37.61  83.43  209.01
2023-06-05 06:20:00  69.25  53.31  37.41  83.74  201.75
2023-06-05 06:40:00  69.70  52.60  36.97  84.39  196.71
2023-06-05 07:00:00  69.94  51.91  37.60  83.87  191.78
2023-06-05 07:20:00  70.24  51.79  36.42  85.63  190.74
2023-06-05 07:40:00  70.36  51.62  36.27  86.21  189.39
2023-06-05 08:00:00  70.71  51.60  35.84  87.91  188.77
2023-06-05 08:20:00  70.36  51.59  36.12  87.20  188.97
2023-06-05 08:40:00  70.28  51.67  36.09  87.61  189.48
2023-06-05 09:00:00  69.92  51.66  35.47  87.87  191.98
2023-06-05 09:20:00  70.02  51.84  36.01  88.18  190.97
2023-06-05 09:40:00  69.87  51.87  35.94  88.32  191.66
2023-06-05 10:00:00  69.54  52.44  35.75  87.85  191.85
2023-06-05 10:20:00  69.63  51.67  35.60  88.28  192.48
2023-06-05 10:40:00  69.55  51.37  35.31  88.07  192.44
2023-06-05 11:00:00  69.86  50.24  35.64  87.92  190.85
2023-06-05 11:20:00  69.59  50.21  34.39  87.23  191.04
2023-06-05 11:40:00  69.72  49.29  33.71  86.57  189.52
2023-06-05 12:00:00  69.85  48.31  32.56  85.76  187.88

In [9]:
df = adjustments.downsample(df, frequency="22.73T", aggregationFunc="mean")
df

                          2018   2019   2020   2021    2022
2023-06-05 05:40:57.000  68.64  54.35  37.61  83.43  209.01
2023-06-05 06:03:40.800  69.25  53.31  37.41  83.74  201.75
2023-06-05 06:26:24.600  69.70  52.60  36.97  84.39  196.71
2023-06-05 06:49:08.400  69.94  51.91  37.60  83.87  191.78
2023-06-05 07:11:52.200  70.24  51.79  36.42  85.63  190.74
2023-06-05 07:34:36.000  70.36  51.62  36.27  86.21  189.39
2023-06-05 07:57:19.800  70.53  51.60  35.98  87.56  188.87
2023-06-05 08:20:03.600  70.28  51.67  36.09  87.61  189.48
2023-06-05 08:42:47.400  69.92  51.66  35.47  87.87  191.98
2023-06-05 09:05:31.200  70.02  51.84  36.01  88.18  190.97
2023-06-05 09:28:15.000  69.87  51.87  35.94  88.32  191.66
2023-06-05 09:50:58.800  69.54  52.44  35.75  87.85  191.85
2023-06-05 10:13:42.600  69.63  51.67  35.60  88.28  192.48
2023-06-05 10:36:26.400  69.55  51.37  35.31  88.07  192.44
2023-06-05 10:59:10.200  69.72  50.23  35.01  87.57  190.95
2023-06-05 11:21:54.000  69.72  49.29  33.71  86.57  189.52
2023-06-05 11:44:37.800  69.85  48.31  32.56  85.76  187.88